<div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">NARDO</h5>
        <img src="https://www.elmueble.com/medio/2021/10/07/nardo-pixabay_09734c59_1920x1280.jpg" class="card-img-top" alt="...">
        <p class="card-text">El nardo (cuyo nombre científico es Polianthes tuberosa) es una planta bulbosa con flores blancas o rosadas, con un intenso y agradable aroma. Se trata de una planta muy fácil de cuidar y la época ideal para cultivarlas es en primavera, cuando han terminado las geladas y el frío. Requieren un riego moderado, pero sin encharcamientos. De hecho, toleran mejor las épocas de sequía.   </p>
        
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">PLANTA CHINA DEL DINERO</h5>
        <img src="https://www.elmueble.com/medio/2021/10/07/pilea-peperomioides_792ba786_900x1200.jpg"
                                class="card-img-top" alt="...">
        <p class="card-text">La Pilea peperomioides se ha convertido en toda una estrella de las redes sociales. También se la conoce con el nombre de 'planta del misionero' o 'hiedra sueca'. Es una planta amante de los ambientes sombríos, frescos y húmedos. Además es muy resistente y sus cuidados son muy sencillos. En cuanto a los riegos, lo ideal es esperar a que se seque el sustrato entre riegos.  </p>
       
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">ROSA DE ALABASTRO</h5>
        <img src="https://www.elmueble.com/medio/2021/10/07/crasas-en-maceta_00483489_550de896_800x1200.jpg" class="card-img-top" alt="...">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        
      </div>
    </div>
  </div>

  
